body {
    background-color: hotpink;
}
div {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}
img {
    height: 150px;
    width: 250px;
    -ms-border-radius: 20% 40%;
    border-radius: 20% 40%;
}
p {
    display: none;
    font-size: 20px;
}